<template name="tusk-index">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <form class="login">
                    <h1>Tusk</h1>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" placeholder="elephant@gmail.com" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password" placeholder="" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button class="btn btn-primary">Login</button>
                            <a href="#" class="pull-right">I forgot my bloody password</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>
