
@import "_custom.scss";
@import "bootstrap/bootstrap.scss";
@import "modules/_login.scss";

html {
    position: relative;
    min-height: 100%;
    font-size: 16px;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
    font-family: 'Lato', sans-serif;
}

.container a {
    color: darken($brand-primary, 5%);
    font-weight: 400;
    text-decoration: underline;

    &.secondary {
        color: $gray;

        &:hover {
            color: $gray-dark;
        }
    }

    &:hover {
        text-decoration: none;
    }
}

p {
    font-weight: 300;
}

.btn {
    i {
        margin-right: 8px;
    }
}

.navbar {
    border-bottom: 1px solid $brand-primary;

    .navbar-right {
        .btn {
            margin-top: 10px;
            margin-right: 20px;
            font-weight: 700;
        }
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100%;

    padding: 25px 0;
    background: $gray-dark;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;

    p {
        text-align: right;
        margin-top: 30px;
    }
}
