.login {
    h1 {
        text-align: right;
    }

    margin: 200px auto;
    margin-bottom: 10px;
    max-width: 500px;
    padding: 20px;

    background: lighten(#000, 96.5%);
    border-radius: 10px;
}