<template name="default-index">

    <form class="login form-horizontal">
        <h1>Tusk</h1>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" placeholder="elephant@gmail.com" />
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" placeholder="" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <div class="container text-center">
        Tusk is an open-source, Evernote powered, simple site engine.
    </div>

    <hr />

    <div class="container">
        <div class="row">
            <div class="col-sm-4">

                <h1>Heading One</h1>
                <h2>Heading Two</h2>
                <h3>Heading Three</h3>
                <h4>Heading Four</h4>
                <h5>Heading Five</h5>
                <h6>Heading Six</h6>

                <ul>
                    <li>Meningococcal disease</li>
                    <li>Perivenous encephalomyelitis</li>
                    <li>Ankylosing spondylitis</li>
                    <li>Cowpox</li>
                    <li>Astrovirus infection</li>
                </ul>
            </div>
            <div class="col-sm-8">

                <p>One morning, when Gregor <a href="#">Samsa woke from troubled dreams</a>, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a <a href="#" class="secondary">little he could see his brown belly</a>, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream.</p>

                <p>His room, a proper human room <strong>although a little too small</strong>, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - <em>Samsa was a travelling salesman</em> - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.</p>

                <p>Drops of rain could be heard hitting the pane, which made him feel quite sad. "How about if I sleep a little bit longer and forget all this nonsense", he thought, but that was something he was unable to do because he was used to sleeping on his right, and in his present state couldn't get into that position. However hard he threw himself onto his right, he always rolled back to where he was. He must have tried it a hundred times, shut his eyes so that he wouldn't have to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he had never felt before. "Oh, God", he thought, "what a strenuous career it is that I've chosen! Travelling day in and day out. Doing business like this takes much more effort than doing your own business at home, and on top of that there's the curse of travelling, worries about making train connections, bad and irregular food, contact with different people all the time so that you can never get to know anyone or become friendly with them. It can all go to Hell! " He felt a slight itch</p>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="col-sm-2">
                <a href="http://mode3.net"><img src="/i/img/mode3-inverse.png" /></a>
            </div>
            <div class="col-sm-10">
                <p>
                    Made with &amp;love; in Michigan, &copy; <a href="http://mode3.net">Mike Joseph</a><br />Evernote is &copy; Evernote Corporation
                </p>
            </div>
        </div>
    </footer></template>
