<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tusk</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
    <!-- Place favicon.ico in the root directory -->

    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="i/master.css">
    <script src="/i/modernizr-2.8.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/i/master.min.js"></script>
</head>
<body>
</body>

<template name="AppLayout">

    <nav class="navbar navbar-light bg-faded">
        <div class="container-fluid">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                &#9776;
            </button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <a class="navbar-brand" href="#">Tusk</a>
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    {{> yield}}

    <footer>
        <div class="container">
            <div class="col-sm-2">
                <a href="http://mode3.net"><img src="/i/img/mode3-inverse.png" /></a>
            </div>
            <div class="col-sm-10">
                <p>
                    Tusk is an open-source, Evernote powered, simple site engine.<br />
                    Made with &amp;love; in Michigan, &copy; <a href="http://mode3.net">Mike Joseph @ Mode3</a><br />Evernote is &copy; Evernote Corporation
                </p>
            </div>
        </div>
    </footer>

</template>
